{% extends "base.html" %}
{% block main %}
<div class="text-center text-uppercase">
<h1>{{title}}</h1>
</div>
<div class="text-center text-uppercase">
  <h3>Ajoutez un album</h3>
</div>
<div class="row">
  <form role="form" method="POST"
        action="{{ url_for('new_albums') }}">
    {{ form.hidden_tag() }}
    <div class=
        {% if form.title.errors %}
        "form-group has-errors"
        {% else %}
        "form-group"
        {% endif %}>
    {{ form.title.label }} {{ form.title(size=50, class_="form-control") }}
  </div>
  {% if form.title.errors %}
  <ul class="list-group">
    {% for e in form.title.errors %}
    <li class="list-group-item list-group-item-danger">{{ e }}</li>
    {% endfor %}
  </ul>
  {% endif %}
    <input class="btn btn-primary right-rounded" type="submit" value="Enregistrer">
  </form>
</div>
<div class = "message">{% if message %} {{ message }} {% endif %}</div>
<h6><b>TOTAL OF ALBUMS : {{ albums|length }}</b></h6>
{% for album in albums %}
<div class="container">
      <div class="info">
        <h4><a href="{{ url_for('view_album', id= album.id) }}">{{ album.groupe.name }}</br>
      {{ album.groupe.name }}</br>
      {{ album.title }}</br>
      {{ album.releaseYear }}</br></h4>

      </div>
</div>

<a href="{{ url_for('edit_albums', id=album.id) }}"><button type="button" class="btn btn-default">Modifier</button></a>
<br>
  <hr class="style7">
</br>
{% endfor %}


{% endblock %}
