{% extends "bootstrap/base.html" %}
{% block title %}{{ title}}{% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Bootstrap theme</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('album') }}">Albums</a></li>
        <li><a href="{{ url_for('groupe') }}">Groups</a></li>
        <li><a href="#">Autors</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
      </ul>
    </div><!--/.nav-collapse-->
    </div>

    </nav>


{% endblock %}
{% block content %}
<div class="container them-showcase" role="main">
  <div class="row">
  <form role="search" name="searchform" method="POST" action="{{ url_for('search') }}">
        <div class="row">
          <div class="col-sm-8">
              <div class="input-group custom-search-form">
                <input class="form-control left-rounded" type="text" name="name" placeholder="Recherche">
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-primary right-rounded">Chercher</button>
                  <!--<button class="btn btn-success-outline" type="submit">Search</button>-->
                </div>
              </div>
          </div>
        </div>
  </form>
</div>
  {% block main %}

  {% endblock %}
</div>
{% endblock %}
