<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">

  </head>
  <body>
    <h1>{{ title }}</h1>
    <div class="sample">
      {% for x in books %}
      <a href{{x.url}} target="_blank">
    <ul>
      {% for x in names %}
      <a href={{x.url}} target="_blank">
        <img src="{{url_for('static',filename='img/'+x.img)}}"
        title="{{x.title}}" alt="{{x.title}}"/>
      </a>
      <li>{{ x }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
