{% extends "base.html" %}
{% block main %}
<h1>{{title}}</h1>
<div class="container">
  {% for x in albums %}
    {% if loop.index is divisibleby 3 %}
    <div class="row">
      {% endif %}
      <div class=col-md-4>
        <a href="{{ url_for('view_album', id= x.id) }}"><img src="{{ url_for('static', filename='images/'+x.img) }}"/></a>
        <div class="info">
        {{ x.groupe.name }}</br>
        {{ x.title }}</br>
        {{ x.releaseYear }}</br>
        <a href="{{ url_for('edit_albums', id= x.id) }}"><button type="button" class="btn btn-default">Modifier</button></a>
        <hr class="soften" />
      </div>
      </div>
      {% if loop.index is divisibleby 3 %}
    </div>
    {% endif %}
  {% endfor %}
  <ul>
  {% for x in groupe %}
    <li>
      {{ x.name }}
    </li>
  {% endfor %}
</ul>
<ul>
{% for x in groupe %}
<li>
  {{ x.name }}
</li>
{% endfor %}
</ul>
</div>

{% endblock %}
